.btn-costom {
  display: inline-block;
  padding: 10px 10px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid;
  color: #ffffff;
  width: fit-content;
  margin: 5px;
  border-radius: 5px;
  /* border-radius: ; */
  transition: background-color 0.3s, color 0.3s;
}

/* btn update costom */
.btn-costom-keranjang {
  display: inline-block;
  padding: 10px 10px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #00ff37;
  border: 2px solid #00ff37;
  width: fit-content;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.form-img-costom {
  display: block;
  width: 100%;
  height: calc(1.3em + 0.5rem + 1px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
}

.upload-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: none;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media (prefers-reduced-motion: reduce) {
  .form-select {
    transition: none;
  }
}
.form-select:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-select[multiple],
.form-select[size]:not([size="1"]) {
  padding-right: 0.75rem;
  background-image: none;
}
.form-select:disabled {
  background-color: #e9ecef;
}
.form-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #212529;
}

@media (min-width: 576px) {
  .d-sm-w-100 {
    width: 100% !important;
  }
}

@media (min-width: 992px) {
}
